body{
    margin: 0;
}
.container{
    background-image: url(furab.avif);
    height: 600px;
    width: 100%;
}
.container div{
    position: absolute;
    font-size: 100px;
}
.container div:nth-child(1){
    left: 5%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(2){
    left: 50%;
    animation: animasi 4s infinite linear;
}
.container div:nth-child(3){
    left: 20%;
    animation: animasi 2s infinite linear;
}
.container div:nth-child(4){
    left: 30%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(5){
    left: 40%;
    animation: animasi 3s infinite linear;
}
.container div:nth-child(6){
    left: 80%;
    animation: animasi 5s infinite linear;
}
.container div:nth-child(7){
    left: 70%;
    animation: animasi 5s infinite linear;
}

@keyframes animasi {
    0%{
        transform: translateY(0px) scale(50%) rotate(20%);
    }
    100%{
        transform: translateY(500px)

    }
}
