body{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
header{
    text-align: center;
    background-color: rgb(131, 24, 18);
    box-shadow: 5px 4px 5px -2px chocolate;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.banner{
    padding: 10px;
    font-size: 23px;
    text-align: center;
    colo
}
section.home{
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(tuakberas.png);
}
section.project{
    height: 800px;
    text-align: center;
    color: rgb(108, 82, 49);
}
section.howto{
    height: 640px;
    padding-top: 100px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.howto img{
    height: 500px;
}
.deskHowto{
    display: flex;
    width: 60%;
    margin: auto;
}
.dokumentasi{
    margin: 200px;
}
section.profile{
    height: 800px;
    text-align: center;
}
.kotakBiotek{
    width: 40%;
    margin-left: 50px;
    padding-top: 100px;
}
.namaBiotek{
    color: aliceblue;
    font size: 50px;
}
.deskBiotek{
    color: rgb(187, 70, 70);
    font-size: 20px;
}
section.project img{
    height: 300-px;
}
.deskProject{
    width: 100%;
    margin: 20px;
    padding: 20px 50px;
}